<!DOCTYPE html>
<html lang="en">
<head>
  <title>SOLBER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <h1>Заявки</h1>
  <p>В разделе заявок вы можете просматривать и управлять доступынми заявками детально.</p>
  <p>Вы можете искать, фильтровать и сортировать заявки так, как вам удобно. Доступ в этот раздел будет ограничен пока вы не заполните профиль.</p>
  <p>Только перевозчики и водители могут получить доступ к этому разделу. Вносимые вами изменения будут утверждены после проверки.</p>
  <div class="row">
    <div class="col-sm-1" style="background-color:lavender;">Номер рейса</div>
    <div class="col-sm-2" style="background-color:lavenderblush;">Статус</div>
    <div class="col-sm-2" style="background-color:lavender;">Дата поставки</div>
    <div class="col-sm-2" style="background-color:lavender;">Госномер</div>
    <div class="col-sm-2" style="background-color:lavender;">Машина</div>
    <div class="col-sm-3" style="background-color:lavender;">Материал</div>
  </div>
</div>

</body>
</html>

